<div class="DashboardContainer u-fontInverted">
  <div class="u-row">
    <h1><%= number_to_currency(@loans.total_paid, precision: 0) %></h1>
    <span class="u-helperText--inline">total repaid</span>
  </div>
  <div class="TileContainer">
    <div class="Tile Tile--white">
      <h4 class="Tile-heading">
        <span>Interest</span>
        <span class="u-lineThrough js-InterestSaved">$0</span>
      </h4>
      <div class="Tile-number js-TotalInterest" data-all-loan-interest="<%= @loans.total_interest %>">
        <%= number_to_currency(@loans.total_interest, precision: 0) %>
      </div>
    </div>
    <div class="Tile Tile--white">
      <h4 class="Tile-heading">Principle</h4>
      <div class="Tile-number"><%= number_to_currency(@loans.total_principal, precision: 0) %></div>
    </div>
    <div class="Tile Tile--white">
      <h4 class="Tile-heading">Pay Off Date</h4>
      <div class="Tile-number"><%= @loans.pay_off_month %></div>
    </div>
  </div>
  <div class="u-row u-margin">
    <div><%= line_chart dashboard_data %></div>
  </div>
  <div class="TileContainer">
    <% @loans.each_with_index do |loan, i| %>
      <div class="Tile js-Tile <%= 'is-selected' if i == 0 %>"
           data-loan-balance="<%= loan.principle_balance %>"
           data-monthly-interest-rate="<%= loan.monthly_interest_rate %>"
           data-min-payment-due="<%= loan.minimum_payment_due %>"
           data-total-interest="<%= loan.total_interest %>">
        <h4 class="Tile-heading"><%= loan.name %></h4>
        <div class="Tile-number"><%= number_to_currency(loan.principle_balance, precision: 0) %></div>
      </div>
    <% end %>
  </div>
</div>

