<div class="DashboardContainer u-fontInverted">
  <h1 class="u-marginBottom js-LoanName"><%= @loans.first.name %></h1>
  <div class="u-row">
    <h2 class="js-LoanTotalPaid"><%= number_to_currency(@loans.first.total_paid, precision: 0) %></h2>
    <span class="u-helperText--inline">total repaid</span>
  </div>
  <div class="TileContainer">
    <div class="Tile Tile--white">
      <h4 class="Tile-heading">Principal</h4>
      <div class="Tile-number js-LoanPrincipal">
        <%= number_to_currency(@loans.first.principle_balance, precision: 0) %>
      </div>
    </div>
    <div class="Tile Tile--white">
      <h4 class="Tile-heading">
        <span>Interest</span>
        <span class="u-lineThrough js-LoanInterestSaved">$0</span>
      </h4>
      <div class="Tile-number js-LoanInterest">
        <%= number_to_currency(@loans.first.total_interest, precision: 0) %>
      </div>
    </div>
    <div class="Tile Tile--white">
      <h4 class="Tile-heading">Payoff Date</h4>
      <div class="Tile-number js-LoanPayOffMonth"><%= @loans.first.pay_off_month %></div>
    </div>
  </div>
  <div id="loanChart" class="u-row u-margin">
    <canvas class="js-dashboardChart"
            width="1000" height="400">
    </canvas>
  </div>
  <div class="TileContainer">
    <% @loans.each_with_index do |loan, i| %>
      <div class="Tile js-Tile <%= 'is-selected' if i == 0 %>"
           data-name="<%= loan.name %>"
           data-total-paid="<%= loan.total_paid %>"
           data-principal="<%= loan.principle_balance %>"
           data-principal-balances="<%= loan.amortization_schedule.map(&:last) %>"
           data-interest="<%= loan.total_interest %>"
           data-monthly-interest-rate="<%= loan.monthly_interest_rate %>"
           data-months-array="<%= payments_left_array(loan) %>"
           data-max-interest-rate="<%= loan.max_interest_rate %>"
           data-min-payment-due="<%= loan.minimum_payment_due %>"
           data-pay-off-month="<%= loan.pay_off_month %>">
        <h4 class="Tile-heading"><%= loan.name %></h4>
        <div class="Tile-number"><%= number_to_currency(loan.principle_balance, precision: 0) %></div>
      </div>
    <% end %>
  </div>
</div>

