<div class="Area Area30">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="FieldGroup">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="FieldGroup">
      <%= f.submit "Send reset password email", class: "btn u-fullWidth" %>
    </div>
  <% end %>
  <div class="u-textCenter">
    <%= render "devise/shared/links" %>
  </div>
</div>
