<div class="Area js-form">
  <div class="u-justifySpaceBetween">
    <h3><%= "Loan #{current_user.loans.size + 1}" %></h3>
    <%= inline_svg("chevron_right.svg", class: "Icon-shape--action", size: '20px * 20px') %>
  </div>
  <%= form_for @loan, remote: true do |f| %>
    <table>
      <tr>
        <td><%= f.label :loan_category_id, "Category", class: "Label Label--inline" %></td>
        <td></td>
        <td class="u-column js-fieldContainer">
          <%= f.collection_select(:loan_category_id, LoanCategory.all, :id, :name) %>
          <span class="u-helperText u-red js-errorMessage"></span>
        </td>
      </tr>
      <tr>
        <td><%= f.label :name, "Nickname", class: "Label Label--inline" %></td>
        <td></td>
        <td class="u-column js-fieldContainer">
          <%= f.text_field :name, size: 20, maxlength: 30 %>
          <span class="u-helperText u-red js-errorMessage"></span>
        </td>
      </tr>
      <tr>
        <td><%= f.label :principle_balance, "Principle Balance", class: "Label Label--inline" %></td>
        <td><p class="u-marginInline">$</p></td>
        <td class="u-column js-fieldContainer">
          <%= f.number_field :principle_balance, step: 0.01 %>
          <span class="u-helperText u-red js-errorMessage"></span>
        </td>
      </tr>
      <tr>
        <td><%= f.label :interest_rate, "Interest Rate", class: "Label Label--inline" %></td>
        <td></td>
        <td class="u-column js-fieldContainer">
          <%= f.number_field :interest_rate, step: 0.01 %>
          <span class="u-helperText u-red js-errorMessage"></span>
        </td>
        <td><p class="u-marginInline">%</p></td>
      </tr>
      <tr>
        <td><%= f.label :minimum_payment_due, "Minimum Payment", class: "Label Label--inline" %></td>
        <td><p class="u-marginInline">$</p></td>
        <td class="u-column js-fieldContainer">
          <%= f.number_field :minimum_payment_due, step: 0.01 %>
          <span class="u-helperText u-red js-errorMessage"></span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td><%= f.label "Next Due Date", class: "Label Label--inline" %></td>
        <td></td>
        <td class="u-column js-fieldContainer">
          <div>
            <input class="Input--small" max="12" min="1" name="next_due_date[month]" step="1" type="number" placeholder="mm" />
            <span class="u-helperText u-red js-errorMessage"></span>
            <input class="Input--small" max="31" min="1" name="next_due_date[day]" step="1" type="number" placeholder="dd" />
            <span class="u-helperText u-red js-errorMessage"></span>
            <input class="Input--small" max="2020" min="2018" name="next_due_date[year]" step="1" type="number" placeholder="yyyy" />
            <span class="u-helperText u-red js-errorMessage"></span>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
    <div class="u-displayRight">
      <%= f.submit "Submit", class: "Button" %>
    </div>
  <% end %>
</div>
