<div class="Area js-form">
  <h3><%= "Loan #{current_user.loans.size + 1}" %></h3>
  <%= form_for @loan, remote: true do |f| %>
    <table>
      <tr>
        <td><%= f.label :loan_category_id, "Category", class: "Label Label--inline" %></td>
        <td></td>
        <td class="u-column js-fieldContainer">
          <%= f.collection_select(:loan_category_id, LoanCategory.all, :id, :name) %>
          <span class="u-helperText u-red js-errorMessage"></span>
        </td>
      </tr>
      <tr>
        <td><%= f.label :name, "Nickname", class: "Label Label--inline" %></td>
        <td></td>
        <td class="u-column js-fieldContainer">
          <%= f.text_field :name, size: 20, maxlength: 30 %>
          <span class="u-helperText u-red js-errorMessage"></span>
        </td>
      </tr>
      <tr>
        <td><%= f.label :principle_balance, class: "Label Label--inline" %></td>
        <td><p class="u-marginInline">$</p></td>
        <td class="u-column js-fieldContainer">
          <%= f.number_field :principle_balance, step: 0.01 %>
          <span class="u-helperText u-red js-errorMessage"></span>
        </td>
      </tr>
      <tr>
        <td><%= f.label :interest_rate, class: "Label Label--inline" %></td>
        <td></td>
        <td class="u-column js-fieldContainer">
          <%= f.number_field :interest_rate, step: 0.01 %>
          <span class="u-helperText u-red js-errorMessage"></span>
        </td>
        <td><p class="u-marginInline">%</p></td>
      </tr>
      <tr>
        <td><%= f.label :minimum_payment_due, "Minimum monthly payment due", class: "Label Label--inline" %></td>
        <td><p class="u-marginInline">$</p></td>
        <td class="u-column js-fieldContainer">
          <%= f.number_field :minimum_payment_due, step: 0.01 %>
          <span class="u-helperText u-red js-errorMessage"></span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td><%= f.label :next_due_date, "Next due date", class: "Label Label--inline" %></td>
        <td></td>
        <td class="u-column js-fieldContainer">
          <%= f.date_field :next_due_date %>
          <span class="u-helperText u-red js-errorMessage"></span>
        </td>
        <td></td>
      </tr>
    </table>
    <div class="u-displayRight">
      <%= f.submit "Submit", class: "Button" %>
    </div>
  <% end %>
</div>
