<div class="AreaContainer">
  <div class="Area Area25">
    <h2>Add a new loan</h2>
    <%= form_for @loan do |f| %>
      <div class="FieldGroup">
        <%= f.label :name, "Nickname" %>
        <%= f.text_field :name %>
      </div>
      <div class="FieldGroup">
        <%= f.label :principle_balance %>
        <div class="FieldGroup-row">
          <div class="u-displayInline">$</div>
          <%= f.number_field :principle_balance, step: 0.01 %>
        </div>
      </div>
      <div class="FieldGroup">
        <%= f.label :interest_rate %>
        <div class="FieldGroup-row">
          <%= f.number_field :interest_rate, step: 0.01 %>
          <div class="u-displayInline">%</div>
        </div>
      </div>
      <div class="FieldGroup">
        <%= f.label :minimum_payment_due, "Minimum Monthly Payment Due" %>
        <div class="FieldGroup-row">
          <div class="u-displayInline">$</div>
          <%= f.number_field :minimum_payment_due, step: 0.01 %>
        </div>
      </div>
      <div class="FieldGroup">
        <%= f.submit "Submit", class: "btn" %>
      </div>
    <% end %>
  </div>
  <div class="Area Area25 Area-info">
    <div class="TriangleLeft TriangleLeft-green"></div>
    <div class="TriangleLeft TriangleLeft-white"></div>
    <p class="u-bold">Let's get started by tracking your first loan.</p>
    <p>Give your loan a memorable nickname. This could be anything from the name of the bank who owns the loan, to the type of loan you have, such as "Car Loan."</p>
    <p>Input your principle balance. This is the amount you still have left to pay on the loan.</p>
    <p>Add your interest rate, formatted as a percent. <span class="u-green">Correct:</span> 5.6, <span class="u-red">Incorrect:</span> 0.056</p>
    <div class="TriangleDown TriangleDown-green"></div>
    <div class="TriangleDown TriangleDown-white"></div>
  </div>
</div>
