<div class="u-justifyCenter u-marginHeader">
  <h2 class="u-fontInverted">New Loan</h2>
</div>
<div class="AreaContainer">
  <% current_user.loans.each do |loan| %>
    <%= render partial: "show", locals: { loan: loan } %>
  <% end %>
  <%= render partial: "new_form" %>
</div>
<div class="u-justifySpaceBetween">
  <button class="Button-invisible js-shiftLeft">
    <%= inline_svg("chevron_left.svg", class: "Icon-shape--action", size: '74px * 74px') %>
  </button>
  <button class="Button-invisible js-shiftRight">
    <%= inline_svg("chevron_right.svg", class: "Icon-shape--action", size: '74px * 74px') %>
  </button>
</div>
<div class="Carousel">
  <% current_user.loans.each do |loan| %>
    <div class="Carousel-item">
      <h4 class="Carousel-heading"><%= loan.name %></h4>
      <div class="u-number"><%= number_to_currency(loan.principle_balance, precision: 0) %></div>
    </div>
  <% end %>
</div>

<!-- <p class="u-bold">Let's get started by tracking your first loan.</p>
<p>Give your loan a memorable nickname. Consider using the name of the lender or the type of loan (i.e., "Car Loan") when choosing a nickname.</p>
<p>Input your principle balance. This is the amount you still have left to pay on the loan.</p>
<p>Add your interest rate, formatted as a percent. <span class="u-green">Correct:</span> 5.6, <span class="u-red">Incorrect:</span> 0.056</p>
<p>Finally, enter your minimum monthly payment. This is the amount you are billed each month. Part of this payment covers your interest while the rest goes toward your principle balance.</p>
 -->
