<div class="AreaContainer">
  <div class="Area">
    <h2>Add a new loan</h2>
    <%= form_for @loan do |f| %>
      <table>
        <tr>
          <td><%= f.label :name, "Nickname", class: "LabelInline" %></td>
          <td></td>
          <td><%= f.text_field :name, class: "InputInline" %></td>
        </tr>
        <tr>
          <td><%= f.label :principle_balance, class: "LabelInline" %></td>
          <td>$</td>
          <td><%= f.number_field :principle_balance, step: 0.01, class: "InputInline" %></td>
        </tr>
        <tr>
          <td><%= f.label :interest_rate, class: "LabelInline" %></td>
          <td></td>
          <td><%= f.number_field :interest_rate, step: 0.01, class: "InputInline" %></td>
          <td>%</td>
        </tr>
        <tr>
          <td><%= f.label :minimum_payment_due, "Minimum Monthly Payment Due", class: "LabelInline" %></td>
          <td>$</td>
          <td><%= f.number_field :minimum_payment_due, step: 0.01, class: "InputInline" %></td>
          <td></td>
        </tr>
      </table>
      <div class="u-displayRight">
        <%= f.submit "Submit", class: "btn" %>
      </div>
    <% end %>
  </div>
  <!-- <div class="Area Area25 Area-info">
    <div class="TriangleLeft TriangleLeft-green"></div>
    <div class="TriangleLeft TriangleLeft-white"></div>
    <p class="u-bold">Let's get started by tracking your first loan.</p>
    <p>Give your loan a memorable nickname. Consider using the name of the lender or the type of loan (i.e., "Car Loan") when choosing a nickname.</p>
    <p>Input your principle balance. This is the amount you still have left to pay on the loan.</p>
    <p>Add your interest rate, formatted as a percent. <span class="u-green">Correct:</span> 5.6, <span class="u-red">Incorrect:</span> 0.056</p>
    <p>Finally, enter your minimum monthly payment. This is the amount you are billed each month. Part of this payment covers your interest while the rest goes toward your principle balance.</p>
    <div class="TriangleDown TriangleDown-green"></div>
    <div class="TriangleDown TriangleDown-white"></div>
  </div> -->
</div>
