<div class="u-justifyCenter u-marginHeader">
  <h2 class="u-fontInverted">New Loan</h2>
</div>
<div class="AreaContainer">
  <% current_user.loans.each do |loan| %>
    <%= render partial: "show", locals: { loan: loan } %>
  <% end %>
  <%= render partial: "new_form_toodle" %>
  <%= render partial: "new_form" %>
</div>
<div class="u-justifySpaceBetween">
  <%= inline_svg("chevron_left.svg", class: "Icon-shape--action u-margin js-shiftLeft", size: '74px * 74px') %>
  <%= inline_svg("chevron_right.svg", class: "Icon-shape--action u-margin js-shiftRight", size: '74px * 74px') %>
</div>
<div class="TileContainer">
  <% current_user.loans.each do |loan| %>
    <div class="Tile">
      <h4 class="Tile-heading"><%= loan.name %></h4>
      <div class="u-number"><%= number_to_currency(loan.principle_balance, precision: 0) %></div>
    </div>
  <% end %>
</div>
