<div class="u-justifyCenter u-marginHeader">
  <h2 class="u-fontInverted">New Loan</h2>
</div>
<div class="AreaContainer">
  <% current_user.loans.each do |loan| %>
    <%= render partial: "show", locals: { loan: loan } %>
    <div class="Toodle">
      <div class="Toodle-triangle"></div>
      <div class="Toodle-header">
        <h3>Loan Overview</h3>
      </div>
      <div class="Toodle-body">
        <p class="u-bold">Principal Balance</p>
        <p class="u-helperText">Total amount left to pay on the loan excluding fees such as interest and taxes.</p>
        <p class="u-bold">Interest Rate</p>
        <p class="u-helperText">Omit the '%' symbol during input. Example: 4.25</p>
        <p class="u-bold">Minimum Payment</p>
        <p class="u-helperText">Principal balance + interest. If the loan is a mortgage, exclude the amount you pay in taxes and insurance.</p>
      </div>
      <div class="Toodle-footer">
        <button class="Button">Got it</button>
      </div>

    </div>
  <% end %>
  <%= render partial: "new_form" %>
</div>
<div class="u-justifySpaceBetween">
  <%= inline_svg("chevron_left.svg", class: "Icon-shape--action u-margin js-shiftLeft", size: '74px * 74px') %>
  <%= inline_svg("chevron_right.svg", class: "Icon-shape--action u-margin js-shiftRight", size: '74px * 74px') %>
</div>
<div class="Carousel">
  <% current_user.loans.each do |loan| %>
    <div class="Carousel-item">
      <h4 class="Carousel-heading"><%= loan.name %></h4>
      <div class="u-number"><%= number_to_currency(loan.principle_balance, precision: 0) %></div>
    </div>
  <% end %>
</div>
