<!DOCTYPE html>
<html>
<head>
  <title>Wittle</title>
  <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600" rel="stylesheet">
</head>
<body>
  <%= render 'shared/header' %>
  <%= render 'layouts/flash_messages' %>
  <%= render 'shared/left_sidebar' %>
  <%= render 'shared/right_sidebar' %>
  <div class="Auth">
    <%= yield %>
  </div>
</body>
</html>
